header {
  background: white;
  color: black;
  padding: 20px;
  display: flex;
  height: 80px;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
header .night_mode {
  background: black;
  color: white;
}
.logo_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.logo_div i {
  font-size: 30px;
  line-height: 36px;
  background: green;
  padding: 8px;
  border-radius: 6px;
}
.logo_div p {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  font-family: serif;
  display: none;
}
.search_div {
  align-items: center;
  display: none;
  justify-content: center;
  flex-direction: row;
  padding: 8px;
  width: 384px;
  overflow: hidden;
  border-radius: 6px;
  background-color: #9e8c8c25;
  transition-duration: 200ms;
}
.search_div:hover {
  background-color: #9e8c8c75;
}
.search_div:focus {
  border-width: 2px;
  border-color: white;
}
.search_div input {
  outline: none;
  padding: 8px;
  background-color: transparent;
  width: 320px;
}
.search_input_icon_1 {
  border-radius: 6px;
  background-color: #cfc3c322;
  font-size: 18px;
  line-height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);
  cursor: pointer;
}
.search_input_icon_2 {
  border-radius: 6px;
  background-color: #cfc3c322;
  font-size: 18px;
  line-height: 28px;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.3);
}
.login_menu_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.login_div{
    display: flex;
    flex-direction: row;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    gap: 4px;
    background-color: #9e8c8c25;
    transition-duration: 200ms;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}
.login_div:hover{
    background-color: #9e8c8c75;
}
.user_dropdown_div{
    padding: 8px;
    background-color: #9e8c8c25;
    transition-duration: 200ms;
    border-radius: 6px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    position: relative;
    display: none;
}
.user_dropdown_div:focus{
    outline: none;
}
.user_dropdown_div:hover{
    background-color: #9e8c8c75;
}
.user_dropdown_div i{
    font-size: 18px;
    line-height: 28px;
}






@media (min-width: 768px) {
  .logo_div p {
    display: block;
  }
}
@media (min-width: 1024px) {
  .search_div {
    display: flex;
  }
  .user_dropdown_div{
    display: flex;
  }
}
